Repository TotallyNotRobots/CloudBot: changes, and which Codecov flags are due for each by the changed paths.
All: tests, core, plugins

ci(codecov): switch to oidc auth
  .github/workflows/tests.yml
Due: none

test: rename test util params to help with asyncio refactor
  tests/core_tests/irc_client_test.py
Due: tests

refactor(tests): ensure mock_bot uses corrent async loop
  tests/conftest.py
  tests/core_tests/test_plugin_manager.py
  tests/plugin_tests/chain_test.py
  tests/plugin_tests/foaas_test.py
  tests/plugin_tests/hookup_test.py
  tests/plugin_tests/jokes_test.py
  tests/plugin_tests/regex_chans_test.py
  tests/plugin_tests/test_admin_bot.py
  tests/plugin_tests/test_core_connect.py
  tests/plugin_tests/test_data_plugins.py
  tests/plugin_tests/test_lastfm.py
  tests/plugin_tests/test_spotify.py
  tests/plugin_tests/test_utility.py
Due: tests

fix(tests/config): use default event loop
  tests/core_tests/config_test.py
Due: tests

refactor(tests): rename non-fixture event loops
  tests/core_tests/irc_client_test.py
  tests/plugin_tests/chan_key_db_test.py
  tests/plugin_tests/test_data_plugins.py
  tests/plugin_tests/test_weather.py
Due: tests

fix(tests): remove event_loop fixtures from async tests
  tests/core_tests/irc_client_test.py
Due: tests

refactor(tests): remove last event_loop uses in irc_client tests
  tests/core_tests/irc_client_test.py
Due: tests

test: migrate away from event_loop fixture
  tests/core_tests/test_bot.py
  tests/plugin_tests/chan_key_db_test.py
  tests/plugin_tests/core_misc_test.py
  tests/plugin_tests/test_brew.py
  tests/plugin_tests/test_chan_track.py
  tests/plugin_tests/test_chatbot.py
  tests/plugin_tests/test_data_plugins.py
  tests/plugin_tests/test_lastfm.py
  tests/plugin_tests/test_weather.py
Due: tests

test(irc_client): remove unnecessary branches
  tests/core_tests/irc_client_test.py
Due: tests

feat: add support for windows/macos
  .github/workflows/tests.yml
  plugins/profiling.py
Due: plugins

feat: Replace permission config with DB tables
  CHANGELOG.md
  cloudbot/config.py
  cloudbot/permissions.py
  plugins/admin_bot.py
  tests/core_tests/config_test.py
  tests/core_tests/irc_client_test.py
  tests/core_tests/test_client.py
  tests/core_tests/test_permission_manager.py
  tests/plugin_tests/core_misc_test.py
  tests/plugin_tests/test_admin_bot.py
  tests/plugin_tests/test_core_connect.py
  tests/plugin_tests/test_core_misc.py
  tests/util/mock_conn.py
Due: tests, core, plugins

build(deps): move typing_extensions to runtime dependencies
  requirements-dev.txt
  requirements.txt
Due: none

ci(tests): remove old warning exclusions
  pyproject.toml
Due: none

build(deps): remove unused chardet dependency
  requirements.txt
Due: none

ci: remove broad coverage exclusions
  cloudbot/__main__.py
  pyproject.toml
  tools/format_json.py
Due: core

refactor(db): remove global metadata binding
  cloudbot/util/database.py
  tests/core_tests/util_tests/test_database.py
Due: tests, core

feat: switch to pydantic to validate cmc api
  .gitignore
  .vscode/settings.json
  cloudbot/event.py
  cloudbot/hook.py
  cloudbot/util/colors.py
  cloudbot/util/func_utils.py
  cloudbot/util/web.py
  plugins/cryptocurrency.py
  plugins/duckhunt.py
  plugins/pastebins/sprunge.py
  pyproject.toml
  requirements.txt
  tests/core_tests/util_tests/test_web.py
  tests/plugin_tests/regex_chans_test.py
  tests/plugin_tests/test_admin_bot.py
  tests/plugin_tests/test_cryptocurrency.py
  tests/plugin_tests/test_pager_commands.py
  tests/util/mock_conn.py
Due: tests, core, plugins

feat: add support for python 3.14
  .github/workflows/pre-commit-update.yml
  .github/workflows/tests.yml
  cloudbot/plugin_hooks.py
  cloudbot/util/async_util.py
  pyproject.toml
  tests/core_tests/test_plugin_hooks.py
  tests/plugin_tests/test_data_plugins.py
Due: tests, core

fix: handle errors in tvdb launch hooks, skip auth without key
  plugins/tvdb.py
Due: plugins

feat: add typed extensible data for bots/conns
  cloudbot/bot.py
  cloudbot/client.py
  cloudbot/util/extensible_data.py
  plugins/admin_channel.py
  plugins/core/cap.py
  plugins/core/chan_track.py
  plugins/core/server_info.py
  tests/plugin_tests/test_admin_channel.py
  tests/plugin_tests/test_cap.py
  tests/plugin_tests/test_chan_track.py
  tests/plugin_tests/test_server_info.py
  tests/util/__init__.py
Due: tests, core, plugins

feat: clear ephemeral ext data on reconnect
  plugins/core/core_connect.py
Due: plugins

test: test cap nak
  tests/plugin_tests/test_cap.py
Due: tests

ci: sync nitpick workflow
  .github/workflows/nitpick.yml
Due: none

Set default pastebin to Sharey
  cloudbot/util/web.py
Due: core

remove tests for sprunge and add new tests for sharey
  tests/plugin_tests/test_paste_sprunge.py
Due: tests

add configuration for the sharey pastebin
  plugins/pastebins/sharey.py
Due: plugins

add tests for the sharey pastebin
  tests/plugin_tests/test_paste_sharey.py
Due: tests

making modifications as per pre-commit requirements to pass all tests
  plugins/pastebins/sharey.py
  tests/plugin_tests/test_paste_sharey.py
Due: tests, plugins

feat(webapp): add Who Am I? – LLM Persona Guessing Game
  webapp/.env.example
  webapp/README.md
  webapp/config.py
  webapp/database.py
  webapp/main.py
  webapp/models.py
  webapp/requirements.txt
  webapp/routers/__init__.py
  webapp/routers/api.py
  webapp/services/__init__.py
  webapp/services/characters.py
  webapp/services/claude_service.py
  webapp/services/daily_challenge.py
  webapp/services/fun_facts.py
  webapp/static/css/style.css
  webapp/static/js/app.js
  webapp/templates/index.html
Due: none

Add Docker support for CloudBot deployment
  .dockerignore
  Dockerfile
  README.md
  docker-compose.yml
Due: none

style: fix formatting in tests
  tests/core_tests/test_bot.py
  tests/core_tests/util_tests/test_formatting.py
  tests/plugin_tests/test_optout.py
Due: tests

test: Update karma and cake day tests with new date values, use datetime mock
  tests/plugin_tests/test_reddit_info.py
Due: tests

test(reddit): correct time drift in test
  tests/plugin_tests/test_reddit_info.py
Due: tests

feat: ListenBrainz plugin
  plugins/listenbrainz.py
  tests/plugin_tests/test_listenbrainz.py
Due: tests, plugins

forgor pre-commit
  plugins/listenbrainz.py
  tests/plugin_tests/test_listenbrainz.py
Due: tests, plugins

huh
  plugins/listenbrainz.py
Due: plugins

Path conditions:
  tests: any of: tests/
  core: any of: cloudbot/
  plugins: any of: plugins/
