Repository TotallyNotRobots/CloudBot: changes, and which Codecov flags are due for each by the changed paths.
All: tests, core, plugins

codecov.yml:

comment:
  require_changes: true

coverage:
  status:
    patch:
      default: false
    project:
      default: false

component_management:
  individual_components:
  - component_id: types
    name: types
    flag_regexes:
    - types
    statuses:
    - type: patch
      target: 90%

  - component_id: tests
    name: tests
    flag_regexes:
    - unittests
    paths:
    - tests/
    statuses:
    - type: patch
      target: 100%
    - type: project
      target: 100%

  - component_id: core
    name: core
    flag_regexes:
    - unittests
    paths:
    - cloudbot/
    statuses:
    - type: patch
      target: 100%
    - type: project

  - component_id: plugins
    name: plugins
    flag_regexes:
    - unittests
    paths:
    - plugins/
    statuses:
    - type: patch
    - type: project

ci: add type checking coverage information to codecov
  .github/workflows/mypy.yml
  .gitignore
Due: none

Revert "ci: add type checking coverage information to codecov"
  .github/workflows/mypy.yml
  .gitignore
  codecov.yml
Due: none

refactor: Migrate to sqlalchemy 2.0-style statements
  .github/workflows/pythonapp.yml
  cloudbot/bot.py
  cloudbot/util/database.py
  plugins/badwords.py
  plugins/chain.py
  plugins/core/autojoin.py
  plugins/core/chan_key_db.py
  plugins/core/ignore.py
  plugins/core/optout.py
  plugins/core/regex_chans.py
  plugins/duckhunt.py
  plugins/factoids.py
  plugins/grab.py
  plugins/herald.py
  plugins/hookup.py
  plugins/horoscope.py
  plugins/karma.py
  plugins/lastfm.py
  plugins/librefm.py
  plugins/notes.py
  plugins/profile.py
  plugins/quote.py
  plugins/remind.py
  plugins/seen.py
  plugins/tell.py
  plugins/weather.py
  tests/util/mock_db.py
Due: tests, core, plugins

ci: switch to renovate for automated updates
  .github/dependabot.yml
  .github/renovate.json
Due: none

ci: add workflow to automate bumping pre-commit hook versions
  .github/workflows/pre-commit-update.yml
Due: none

build: replace deprecated devcontainers-contrib repo
  .devcontainer/devcontainer.json
Due: none

test: ignore deprecation of pkg_resources
  pytest.ini
Due: none

ci: disable advanced code-scanning in favor of default setup
  .github/workflows/codeql.yml
Due: none

fix: drop support for Python 3.8
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/pythonapp.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  pyproject.toml
Due: none

fix: bump nltk to 3.9.2
  requirements.txt
Due: none

chore(deps): remove legacy libenchant dependency
  docs/installing/nix.md
  docs/user/main_user.md
  vagrant-bootstrap.sh
Due: none

ci: clean up deprecated pre-commit hooks
  .pre-commit-config.yaml
Due: none

fix: drop support for python 3.9
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/pythonapp.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

ci: combine workflows to clean up runs
  .github/workflows/mypy.yml
  .github/workflows/pylint.yml
  .github/workflows/tests.yml
Due: none

refactor: cleanup unused imports
  tests/util/__init__.py
Due: tests

style: run black formatter
  cloudbot/util/colors.py
  plugins/drinks.py
  plugins/flip.py
  plugins/gaming.py
  plugins/grab.py
  plugins/jokes.py
  plugins/lastfm.py
  plugins/profile.py
  plugins/quote.py
  tests/core_tests/util_tests/test_http.py
  tests/plugin_tests/test_remind.py
  tests/plugin_tests/test_utility.py
Due: tests, core, plugins

refactor: remove redundant casts
  cloudbot/clients/irc.py
Due: core

ci: disable pylint comparison-with-callable
  pyproject.toml
Due: none

ci: cleanup and combine tool configs
  .bandit
  .coveragerc
  .flake8
  .hound.yml
  .shellcheck.yaml
  .yamllint
  pyproject.toml
  pytest.ini
Due: none

fix(minecraft_ping): update import for mcstatus statuses
  plugins/minecraft_ping.py
  tests/plugin_tests/test_minecraft_ping.py
Due: tests, plugins

fix: Remove deprecated asyncio usages
  cloudbot/__main__.py
  cloudbot/bot.py
  cloudbot/client.py
  cloudbot/clients/irc.py
  cloudbot/plugin.py
  cloudbot/util/async_util.py
  plugins/core/cap.py
  plugins/core/sasl.py
  requirements-dev.txt
  tests/core_tests/irc_client_test.py
  tests/core_tests/reloader_test.py
  tests/core_tests/test_bot.py
  tests/core_tests/test_client.py
  tests/core_tests/test_plugin_manager.py
  tests/plugin_tests/cap_test.py
  tests/plugin_tests/core_sieve_test.py
  tests/plugin_tests/test_admin_bot.py
  tests/plugin_tests/test_chan_log.py
  tests/plugin_tests/test_core_connect.py
  tests/plugin_tests/test_core_misc.py
  tests/plugin_tests/test_ignore.py
  tests/plugin_tests/test_mylife.py
  tests/plugin_tests/test_remind.py
  tests/util/mock_bot.py
Due: tests, core, plugins

test(sasl): add additional tests for sasl plugins
  tests/plugin_tests/test_sasl.py
  tests/util/mock_conn.py
Due: tests

test(irc_client): add more test cases for irc_client
  tests/core_tests/irc_client_test.py
Due: tests

test(plugin_manager): test periodic hooks
  tests/core_tests/test_plugin_manager.py
Due: tests

ci: upload test data to codecov
  .github/workflows/tests.yml
Due: none

test: ignore missing coverage in chan log test data generation
  tests/plugin_tests/test_chan_log.py
Due: tests

ci: ignore mypy errors related to mixin class
  cloudbot/util/mapping.py
Due: core

ci(pylint): ignore new too-many-positional-arguments finding
  pyproject.toml
Due: none

ci: add python 3.13 to testing matrix
  .github/workflows/tests.yml
Due: none

ci: use strict mode for pytest-asyncio
  pyproject.toml
  requirements-dev.txt
  tests/plugin_tests/test_factoids.py
  tests/plugin_tests/test_optout.py
  tests/plugin_tests/test_remind.py
  tests/plugin_tests/test_sasl.py
Due: tests

fix(feeds): limit url input for feedparser plugin
  plugins/feeds.py
  tests/plugin_tests/test_feeds.py
Due: tests, plugins

test(feeds): fix feeds url errors
  tests/plugin_tests/test_feeds.py
Due: tests

ci: increase minimum coverage to 80%
  pyproject.toml
Due: none

fix: remove orlydb commands
  plugins/scene.py
Due: plugins

fix: remove broken animal_gifs plugin
  plugins/animal_gifs.py
Due: plugins

fix: remove fml plugin due to parser errors and lack of maintainer
  plugins/mylife.py
  tests/plugin_tests/test_mylife.py
Due: tests, plugins

fix(util/mapping): cast key to correct type
  cloudbot/util/mapping.py
Due: core

refactor: add more type hints to pager
  cloudbot/util/pager.py
Due: core

fix: only fetch running event loops, don't create new ones
  cloudbot/bot.py
  tests/plugin_tests/test_sasl.py
Due: tests, core
